<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div style="padding-left:50px;margin-top:20px;">
    <a th:href="@{/login}"> <input id="login_form" type="button" value="登 录" style="width:150px;" class="button_blue" /></a>
    <a th:href="http://localhost:8080/static/index.html"> <input id="regis_form" type="button" value="注册" style="width:150px;" class="button_blue" /> </a>
</div>
</body>
</html>